In [17]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [18]:
columns = ['Factor1', 'Factor2', 'Factor3', 'Factor4', 'Class_labels'] 
# Load the data
df = pd.read_csv('train_svm.csv')
df.head()

   Factor1  Factor2  Factor3  Factor4  Class labels
0      5.1      3.5      1.4      0.2  Lajpat Nagar
1      4.9      3.0      1.4      0.2  Lajpat Nagar
2      4.7      3.2      1.3      0.2  Lajpat Nagar
3      4.6      3.1      1.5      0.2  Lajpat Nagar
4      5.0      3.6      1.4      0.2  Lajpat Nagar

In [19]:
# Separate features and target  
data = df.values
X = data[:,0:4]
Y = data[:,4]

In [20]:
# Calculate average of each features for all classes
Y_Data = np.array([np.average(X[:, i][Y==j].astype('float32')) for i in range (X.shape[1]) for j in (np.unique(Y))])
Y_Data_reshaped = Y_Data.reshape(4, 3)
Y_Data_reshaped = np.swapaxes(Y_Data_reshaped, 0, 1)
X_axis = np.arange(len(columns)-1)
width = 0.25

In [21]:
print(Y)

# df2=df.dropna().reset_index(drop=True)

['Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar' 'Lajpat Nagar'
 'Lajpat Nagar' 'Lajpat Nagar' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket' 'Saket'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath' 'Janpath'
 'Janpath']

In [22]:
# Calculate average of each features for all classes
Y_Data = np.array([np.average(X[:, i][Y==j].astype('float32')) for i in range (X.shape[1])
 for j in (np.unique(Y))])
Y_Data_reshaped = Y_Data.reshape(4, 3)
Y_Data_reshaped = np.swapaxes(Y_Data_reshaped, 0, 1)
X_axis = np.arange(len(columns)-1)
width = 0.25

In [23]:
# Split the data to train and test dataset.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [24]:
# Support vector machine algorithm
from sklearn.svm import SVC
svn = SVC()
svn.fit(X_train, y_train)

SVC()

In [25]:
# Predict from the test dataset
predictions = svn.predict(X_test)
# Calculate the accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9666666666666667

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

     Janpath       0.83      1.00      0.91         5
Lajpat Nagar       1.00      1.00      1.00        11
       Saket       1.00      0.93      0.96        14

    accuracy                           0.97        30
   macro avg       0.94      0.98      0.96        30
weighted avg       0.97      0.97      0.97        30

In [27]:
X_new = np.array([[3, 2, 1, 0.2], [  4.9, 2.2, 3.8, 1.1 ], [  5.3, 2.5, 4.6, 1.9 ]])
#Prediction of the species from the input vector
prediction = svn.predict(X_new)
print("Location Prediction: {}".format(prediction))

Location Prediction: ['Lajpat Nagar' 'Saket' 'Janpath']

In [28]:
# Save the model
import pickle
with open('SVM.pickle', 'wb') as f:
    pickle.dump(svn, f)
# Load the model
with open('SVM.pickle', 'rb') as f:
    model = pickle.load(f)
model.predict(X_new)

array(['Lajpat Nagar', 'Saket', 'Janpath'], dtype=object)